*.vcss_c
*.vjs_c
*.vxml_c
*.vpcf_c
*.vtex_c
game/tools_thumbnail_cache.bin
game/tools_asset_info.bin
game/panorama_debugger.cfg
game/tools_thumbnail_cache.sqlite3
game/tools_thumbnail_cache.sqlite3-shm
game/tools_thumbnail_cache.sqlite3-wal
game/materials/*
game/panorama/layout/*
game/panorama/scripts/*
game/panorama/styles/*
*.tmp
*.cfg
